.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4) !important;
}

.detail-search-header{
  font-weight: 300;
  font-size: 2rem;
  margin: 3% 9% 1%;
  text-align: center;
}

.under-header-text{
  margin: 0 9% 0 8%;
}

.nazad-text{
  float: left;
  width:20%;
  text-align: center;
  padding: 2% 3%;
}

.naprijed-text{
  width: 20%;
  float:right;
  text-align: center;
  padding: 2% 3%;
}

@media (max-width: 991px){
  .detail-search-header{
    font-size: 3rem;
  }
}


/* KATALOG */

.main-katalog-akcija {
  margin: 0 9% 8%;
}

.carousel-control-prev-icon{
  transform: scale(4);
}
.carousel-control-next-icon{
  transform: scale(4);
}
