#contact{
  margin:4% 9%;
}

.contact-heading{
  font-size: 2.8rem;
  text-align: center;
  font-weight: 400;
}

.contact{
  margin: 5% 0;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{

      outline: none;
      color: black;
}

.margin-column{
  margin:20px auto;
}
.border-column-text{
  border-radius: 15px;
  background-color: #e6e6e6;
  padding: 15px;
  width: 100%;
  border: none;
}
.border-column-text:hover{
  transition: 0.3s;
  transform:scale(1.1);
}

.shadow:active {
    box-shadow: 0 .5rem 1rem #830029!important;
}

.button-submit{
  padding:15px 30px;
  background-color: #830029;
  color: white;
  border-radius: 15px;
  border:none;
  float:right;
}
.button-submit:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

@media (max-width: 991px){
  #contact{
    margin:7% 9%;
  }

  .contact-heading{
    font-size: 3.2rem;
  }

  .border-column-text{
    font-size: 2rem;
    padding: 20px;
  }

  .button-submit{
    padding:20px 40px;
    font-size: 2rem;
  }
  .margin-column{
    margin:4% auto;
  }
}
