#usluge-HTML{
  margin:0;
  background-color: white;
}

.wood-image{
  width: 100%;
}

.usluge{
  margin: 3% 9%;
  text-align: center;
}

.usluga-padding{
  padding: 0 30px 30px;
}

.usluga-padding:hover{
  transition: 0.3s;
  transform:scale(1.1);
}

.usluga-image{
  width:100%;
  margin: 6% 0 0;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}

.usluga-header{
  font-weight: 400;
  padding: 8% 0 6%;
  font-family: 'PT Serif', serif;
  font-size: 1.8rem;
}

.usluga-text{
  background-color: #dadada61;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
  padding-bottom: 3%;
}

.usluga-paragraph{
  padding: 2% 15% 5%;
  font-size: 1rem;
}

.button-usluge{
  padding: 10px 10px;
  margin: 5px auto;
  background-color: #830029;
  width:50%;
  color: white;
  border-radius: 20px;
}

.button-usluge:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

a:hover{
  text-decoration: none;
}


@media (max-width: 991px){
  .usluga-header{
    font-size: 3rem;
    padding-top: 12%;
  }

  .usluga-text{
    padding-bottom: 5%;
  }

  .usluga-paragraph{
    font-size: 2rem;
  }
  .button-usluge{
    font-size: 2rem;
    width:50%;
    padding:15px 10px;
  }

}
