#Akcije {
  margin: 2% 9%;
  text-align: center;
}

.akcije-red {
  margin: 3% 0;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4) !important;
}

.detail-search-header{
  font-weight: 300;
  font-size: 2rem;
  margin: 3% 9% 1%;
  text-align: center;
}

@media (max-width: 991px){
  .detail-search-header{
    font-size: 3rem;
  }
}


/* KATALOG */

.main-katalog-akcija {
  padding: 3% 9%;
}

.carousel-control-prev-icon{
  transform: scale(4);
}
.carousel-control-next-icon{
  transform: scale(4);
}

/* ARTIKLI */

.card-price{
  padding:2%;
  color: #bb0718;
  margin:auto;
  width:120px;
  border-radius: 10%;
  font-size: 1.8rem;
}

.card:hover{
  transition: 0.5s;
  transform:scale(1.1);
}

@media (max-width: 991px) {
  .akcije-red {
    margin: 0;
  }

  .akcija {
    margin: 3% 0;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1.4rem;
  }

  .card-price{
    font-size: 1.8rem;
  }
}
